In [1]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt

In [63]:
training = pd.read_csv('C:/Users/MANOJ/occupancy_detection/Occupancy-detection-data/datatraining.txt')
training['date'] = pd.to_datetime(training.date,format='%Y-%m-%d %H:%M:%S')
training.set_index(df['date'], inplace=True,drop=True)

In [64]:
training.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
date,,,,,,,
2015-02-04 17:51:00,2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
2015-02-04 17:51:59,2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1
2015-02-04 17:53:00,2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1
2015-02-04 17:54:00,2015-02-04 17:54:00,23.15,27.2000,426.0,708.25,0.004772,1
2015-02-04 17:55:00,2015-02-04 17:55:00,23.10,27.2000,426.0,704.50,0.004757,1